/* css de App */


body {
    font-family: "Arial", sans-serif;
    color: #333;
    background-color: #f4f4f4;
  }
  .navbar {
    background-color: #003b6f; /* Azul marino */
  }
  .navbar-brand,
  .nav-link {
    color: #ffffff !important;
  }
  .hero-section {
    background-color: #003b6f; /* Azul marino */
    color: #ffffff;
    padding: 80px 0;
    text-align: center;
    position: relative;
  }
  .hero-section img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: auto;
  }
  .btn-primary {
    background-color: #d32f2f; /* Rojo */
    border: none;
  }
  .btn-primary:hover {
    background-color: #b71c1c; /* Rojo oscuro */
  }
  .candidate-card {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  .candidate-card:hover {
    transform: scale(1.05);
  }
  .btn-vote {
    background-color: #003b6f; /* Azul marino */
    border: none;
  }
  .btn-vote:hover {
    background-color: #002a50; /* Azul más oscuro */
  }
  .survey-section {
    padding: 60px 0;
    background-color: #eeeeee;
  }
  .survey-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  .footer {
    text-align: center;
    padding: 20px 0;
    background-color: #003b6f; /* Azul marino */
    color: #ffffff;
  }
  
  .navbarBorder {
    border-bottom: solid 1px black;
  }
  
  .flag {
    border-radius: 10px;
  }
  
  .candidates {
    height: 550px;
    width: 99%;
  }
  
  .candidate-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .candidate-card img {
    border-radius: 10px;
    margin-top: 3px;
  }
  